.diagnosticsPanelDivClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.diagnosticsPanelTitleClass {
  width: 100%;
  padding: 0 0 8px;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--gray-5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}

.systemMessageDivClass {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 9px;
  background-color: var(--gray-2);
}

.humanMessageDivClass {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 9px;
  background-color: var(--gray-4);
  align-self: flex-end;
  max-width: 70%;
}
